<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
  font-family:sans-serif; 
  background: -webkit-linear-gradient(to right, #155799, #159957); 
  background: linear-gradient(to right, #155799, #159957); 
  color:whitesmoke;
}

th,h1{
    color: hsl(263, 80%, 4%);

}
h1{

}
    </style>

   
</head>
<body>
    <h2 style="color:green" th:text="${pos}"></h2>
    <h3 style="color:red" th:text="${neg}"></h3>
    <center>
       <h1>Dashboard Details</h1>
        <table border="2px" cellpadding="20" cellspacing="20">
            <tr>
                <th>Long URL</th>
                <th>Short Url</th>
                <th>Count</th>
            </tr>
         <th:block th:if="list">
            <tr th:each="x:${list}">
                <td><a th:href="${x.longUrl}" target="_blank"><span th:text="${x.longUrl}"></span></a></td>
                <td><a th:href="${x.shortUrl}" target="_blank" onclick="testing()" ><span th:text="${x.shortUrl}"></span></a></td>
                <td th:text="${x.urlCount}"></td>
            </tr>
        </th:block>

        </table>
        <br>
        <br>

        <a href="/add-url"><button>Enter Long URL</button></a> 
        <a href="/logout"><button>Logout </button></a>
</center>

<script>
            function testing(){
               setTimeout(()=>{
                    window.location.reload()
               },1000)
            }
</script>
    
</body>
</html>