<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body 
{
  font-family:sans-serif; 
  background: -webkit-linear-gradient(to right, #155799, #159957); 
  background: linear-gradient(to right, #155799, #159957); 
  color:whitesmoke;
}
    </style>
</head>
<body>
<form action="/shorten" method="post">
   <label for="a">Enter The URL</label>
   <input id="a" name="url" placeholder="Enter url" required></input>
    <button>Shorten</button>
</form>
</body>
</html>